@import '../../App.scss';

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;

    .left {
        .title {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            img {
                width: 47px;
                height: 39px;
                margin-left: 8px;
                margin-top: 8px;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;

        .language {
            margin-right: 20px;
        }
        // .language {
        //     width: 120px;
        //     height: 36px;
        //     background: #192f45;
        //     border-radius: 8px;
        //     display: flex;
        //     flex-direction: row;
        //     margin-right: 20px;
        //     .item {
        //         flex: 50% 0 0;
        //         font-size: 14px;
        //         color: #fff;
        //         display: flex;
        //         align-items: center;
        //         justify-content: center;
        //         cursor: pointer;

        //         &.active {
        //             background: #fff;
        //             color: #000;
        //             border-radius: 8px;
        //         }
        //     }
        // }
    }
}

.mobileHeader {
    display: none;
}

@media screen and (max-width: $break-point-tablet) {
    .wrapper {
        display: none;
    }

    .mobileHeader {
        display: block;
    }
}
