.button {
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px !important;
    padding: 10px 20px !important;
    border-radius: 20px !important;
}
