@import '../../App.scss';

.section {
    display: flex;
    // min-height: 100vh;
    position: relative;
}

@media screen and (max-width: $break-point-laptop) {
    .section {
        width: 100%;
    }
}
